*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #EFEFEF;
}

.mainmenu
{
    height:500px;
    
    background-image: url(wall.jpg.jpeg);
    background-size: contain;
    
}

.toolbar h1
{
   padding-left: 20px; 
    padding-top: 32px;
    color:burlywood;
    float: left;
    
}

.toolbar .about
{
    float: left;
   padding-top: 35px;
    padding-left: 600px; 
    font-size: 24px;
    color: darksalmon;
}

.about:hover
{
    color:bisque;
    text-decoration: underline;
}


.toolbar .skills
{
    float: left;
   padding-top: 35px;
    padding-left: 40px; 
    font-size: 24px;
    color: darksalmon;
}

.skills:hover
{
    color:bisque;
    text-decoration: underline;
}


.toolbar .portfolio
{
    float: left;
   padding-top: 35px;
    padding-left: 40px; 
    font-size: 24px;
    color: darksalmon;
}


.portfolio:hover
{
    color:bisque;
    text-decoration: underline;
}


.toolbar .experience
{
    float: left;
   padding-top: 35px;
    padding-left: 40px; 
    font-size: 24px;
    color: darksalmon;
}


.experience:hover
{
    color:bisque;
    text-decoration: underline;
}


.toolbar .pricing
{
    float: left;
   padding-top: 35px;
    padding-left: 40px; 
    font-size: 24px;
    color: darksalmon;
}


.pricing:hover
{
    color:bisque;
    text-decoration: underline;
}


.toolbar .contact
{
    float: left;
   padding-top: 35px;
    padding-left: 40px; 
    font-size: 24px;
    color: darksalmon;
}


.contact:hover
{
    color:bisque;
    text-decoration: underline;
}

.toolbar .market
{
    float: right;
    width: 40px;
    padding-top: 30px;
    padding-right: 55px;
}

.clear
{
    clear: both;
}

.profile
{
    margin: auto;
    height: 500px;
    width: 900px;
    background-color: white;
    margin-top: 100px;
    position: relative;
}

.man
{
    width: 350px;
    height: 70%;
    margin-left: 50px;
    margin-top: 40px;
    float: left;
}


.hello
{
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 22px;
    color:dimgrey;
    padding: 7px 13px 7px 13px;
    background-color:beige;
   border-radius: 25%;
}

.im
{
position: absolute;
    top: 120px;
    left: 450px;
    font-size: 28px;
    color:#565B65;
  
}

span
{
   font-size: 32px;
    font-weight: 800;
    color: #3D4451;
}

.develop
{
  position: absolute;
    top: 160px;
    left: 450px; 
    font-size: 20px;
    color: #565B65;
}

.bord
{
    width: 400px;
    border-bottom: 1px solid #DBDBDB;
    position: absolute;
    top: 200px;
    left: 430px;
}


.age
{
  position: absolute;
    top: 220px;
    left: 450px;
    font-size: 16px;
    font-weight: bold;
      
}

.num
{
  position: absolute;
    top: 220px;
    left: 560px; 
    color: #C5C7CB;
    
}

.mail
{
   position: absolute;
    top: 255px;
    left: 450px;
    font-size: 16px;
    font-weight: bold;
        
}


.omar
{
  position: absolute;
    top: 255px;
    left: 560px;  
    color: #C5C7CB;
}

.adress
{
   position: absolute;
    top: 285px;
    left: 450px;
    font-size: 16px;
    font-weight: bold;
        
}


.street
{
  position: absolute;
    top: 285px;
    left: 560px;  
    color: #C5C7CB;
}


.phone
{
   position: absolute;
    top: 315px;
    left: 450px;
    font-size: 16px;
    font-weight: bold;
        
}

.mynum
{
  position: absolute;
    top: 315px;
    left: 560px;  
    color: #C5C7CB;
}


.free
{
   position: absolute;
    top: 345px;
    left: 450px;
    font-size: 16px;
    font-weight: bold;
        
}

.freelance
{
  position: absolute;
    top: 345px;
    left: 560px;  
    color: #C5C7CB;
}

.downbar
{
    background-color:rosybrown;
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.twitter
{
    width: 30px;
   margin-top: 24px;
    margin-left: 300px;
}


.facebook
{
    width: 30px;
   margin-top: 24px;
    margin-left: 50px;
}


.insta
{
    width: 30px;
   margin-top: 24px;
    margin-left: 50px;
}

.g
{
    width: 30px;
   margin-top: 24px;
    margin-left: 50px;
}


.background
{
    width: 100%;
    height: 600px;
    background-color: #EFEFEFn;
}
a
{
    text-decoration: none;
}

.download
{
    width: 140px;
    margin: auto;
    font-size: 24px;
    margin-top: 40px;
    padding: 15px 50px 15px 50px;
    border: 1px solid gray;
    border-radius: 3%;
}

.cv
{
    color: black;
}

.download:hover
{
     box-shadow: 7px 7px grey;
}


.italk
{
    padding-top: 30px;
    width: 850px;
    margin: auto;
    font-size: 20px;
    color: #4E4E4E;
}

.ProfessionalSkills
{
   text-align: center;
    font-size: 34px;
    color: #3D4451;
    font-weight: bold;
    margin-top: 60px;
}

.whitespace
{
    height: 250px;
    width: 800px;
    margin: auto;
    background-color:white;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 1%;
   box-shadow: 2px 2px 2px 2px grey; 
    position: relative;
}


.wordpress
{
    margin-top: 30px;
    margin-left: 20px;
    color: #727881;
    font-size: 18px;
}

.wordpressi
{
      margin-top: 5px;
    margin-left: 20px;  
    width: 350px;
    height: 7px;
    background-color: #FAE1E1;
    border-radius:10%;
    
}

.wordpressii
{
      position: absolute;
    top: 56px;
    left: 20px;
    width: 300px;
    height: 7px;
    background-color: #E8676B;
    border-radius:10%;
    
}


.javascript
{
    margin-top: 30px;
    margin-left: 20px;
    color: #727881;
    font-size: 18px;
}

.javascripti
{
      margin-top: 5px;
    margin-left: 20px;  
    width: 350px;
    height: 7px;
    background-color: #FAE1E1;
    border-radius:10%;
    
}

.javascriptii
{
      position: absolute;
    top: 119px;
    left: 20px;
    width: 250px;
    height: 7px;
    background-color: #E8676B;
    border-radius:10%;
    
}

.drupal
{
    margin-top: 30px;
    margin-left: 20px;
    color: #727881;
    font-size: 18px;
}


.drupali
{
      margin-top: 5px;
    margin-left: 20px;  
    width: 350px;
    height: 7px;
    background-color: #FAE1E1;
    border-radius:10%;
    
}


.drupalii
{
      position: absolute;
    top: 181px;
    left: 20px;
    width: 270px;
    height: 7px;
    background-color: #E8676B;
    border-radius:10%;
    
}

.html
{
    color: #727881;
    font-size: 18px;
    position: absolute;
    top: 30px;
    right: 280px;
}



.htmli
{
     position: absolute;
    top: 55px;
    right: 40px;
    width: 350px;
    height: 7px;
    background-color: #FAE1E1;
    border-radius:10%;
    
}



.htmlii
{
    position: absolute;
    top: 55px;
    right: 70px;
    width: 320px;
    height: 7px;
    background-color: #E8676B;
    border-radius:10%;
    
}

.php
{
    color: #727881;
    font-size: 18px;
    position: absolute;
    top: 96px;
    right: 280px;
}



.phpi
{
     position: absolute;
    top: 117px;
    right: 40px;
    width: 350px;
    height: 7px;
    background-color: #FAE1E1;
    border-radius:10%;
    
}


.phpii
{
     position: absolute;
    top: 117px;
    right: 40px;
    width: 350px;
    height: 7px;
    background-color: #E8676B;
    border-radius:10%;
    
}

.photoshop
{
    color: #727881;
    font-size: 18px;
    position: absolute;
    top: 157px;
    right: 315px;
}


.photoshopi
{
     position: absolute;
    top: 179px;
    right: 40px;
    width: 350px;
    height: 7px;
    background-color: #FAE1E1;
    border-radius:10%;
    
}

.photoshopii
{
     position: absolute;
    top: 179px;
    right: 50px;
    width: 340px;
    height: 7px;
    background-color: #E8676B;
    border-radius:10%;
    
}







